@import url(reset.css);
@media (min-width 1350px)
	.container
		width 1300px

.header
	position relative
	z-index 2
	.top
		padding 10px 0
		.brand
			a
				display block
			img
				display block
				height 38px
		.input
			box-sizing border-box
			height 38px
			border 1px solid #cccccc
			border-radius 19px
			background url(../img/hico5.jpg) 93% center no-repeat
			outline none	
		.login
		.query
		.language
			margin-left 40px
			font-size 16px
			color #a7a7a7
			line-height 38px
		.login
			background url(../img/hico4.jpg) center center no-repeat
			a
				&+a
					margin 0 0 0 30px
		.language
			padding-right 30px
			background url(../img/hico3.jpg) right center no-repeat
		.toggle-menu
			public-height = 38px
			position relative
			height public-height
			width public-height
			background linear-gradient(to right,#000 0%,#000 100%) left center/100% 2px no-repeat
			cursor pointer
			&.active
				background-position -50px center
				&:after
					top 50%
					margin-top -1px
					transform rotate(45deg)
					transition top 0.3s, transform 0.3s 0.3s
					border-color #1a92e9
				&:before
					bottom 50%
					margin-top -1px
					transform rotate(-45deg)
					transition bottom 0.3s, transform 0.3s 0.3s
					border-color #1a92e9
			&:after
				content ''
				position absolute
				top 5px
				left 0
				right 0
				border-top 2px solid #000
				transition top 0.3s 0.3s, transform 0.3s
			&:before
				content ''
				position absolute
				bottom 5px
				left 0
				right 0
				border-top 2px solid #000
				transition bottom 0.3s 0.3s, transform 0.3s
	.bottom
		position relative
		background #000
		.menu
			.item
				position relative
				width 16.6%
			.first-index
				display block
				text-align center
				font-size 16px
				color #fff
				line-height 70px
				cursor pointer
				span
					position relative
					display inline-block
					transition 0.3s
					&:after
						content :''
						position absolute
						left 0
						right 0
						bottom 0
						border-top 4px solid #1660e8
						transform rotateY(90deg)
						transition 0.3s 0.3s
				&:hover
				&.active
					color #1660e8
					span:after
						transform rotateY(0)
			.child-menu
				position absolute
				top 70px
				left 50%
				transform translateX(-50%)
				width 690px
				font-size 14px
				color #cdcdcd
				line-height 40px
				background rgba(0,0,0,0.7)
				display none
				&.last-menu
					transform translateX(-100%)
					left 100%
				&.fast-menu
					left 0
					transform translateX(0)
				&.fast-second-menu
					@media(max-width 1200px)
						left 0
						transform translateX(-15%)
				&.last-second-menu
					@media(max-width 1200px)
						transform translateX(-85%)
						left 100%
				a
					display block
					transition 0.3s
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
					&:hover
					&:active
						color #1a92e9
						text-indent 1em
				
				.wrap
					float right
					display none
				.left-menu
				.c-row
					width 230px
					box-sizing border-box
					padding 0 20px
				.c-row.bd-lf
					border-left 1px solid #58626a
					border-right 1px solid #58626a
				.left-menu
					a.all
						background url(../img/all.png) right center no-repeat
						&:hover
						&.active
							color #1a92e9
							text-indent 1em
							background-image url(../img/all-blue.png)
					a.arrow-right
						background url(../img/arrow-right.png) 120% center no-repeat
						&:hover
						&.active
							color #1a92e9
							text-indent 1em
							background-image url(../img/arrow-right-blue.png)
							background-position 97% center
		.moble-menu
			position absolute
			top 0
			left 0
			right 0
			public-height = 42px
			font-size 16px
			color #333
			line-height public-height
			display none
			a
				display block
				transition 0.3s
				border-bottom 1px solid #ccc
				&:hover
				&:active
					text-indent 1em
					color #1a92e9
			.child-menu
				display none
			.item
				padding 0 15px
				background #eee
				& .item
					background #d6d6d6
					& .item
						background #ccc
			.first-index
				position relative
				&.active
					text-indent 1em
					color #1a92e9
					span
						background linear-gradient(to right ,#1a92e9 0%,#1a92e9 100%) center center/40% 1px no-repeat	
				span
					position absolute
					top 0
					right 0
					width public-height
					height public-height
					background linear-gradient(to right ,#333 0%,#333 100%) center center/40% 1px no-repeat,
					linear-gradient(to top ,#333 0%,#333 100%) center center/1px 40% no-repeat

.banner
	position relative
	z-index 1
	.main
		a
			display block
		img
			display block
			margin 0 auto
.bg
	position relative
	z-index 1
	margin-top -50px
	background rgba(0,0,0,0.4)
.sub-main
	height 50px
	.text
		padding 0 50px
		height 50px
		color #fff
		font-size 14px
		line-height 50px
		.big
			font-size 18px
		.content
			padding 0 20px


.index-product
	background url(../img/hico6.jpg) left center no-repeat
	.title
		padding 40px 0 10px
		font-size 24px
		color #333
		text-align center
		span
			position relative
			&:after
				content ""
				position absolute
				top 50%
				left 120%
				right -200px
				border-top 1px solid #000
			&:before
				content ""
				position absolute
				top 50%
				right 120%
				left -200px
				border-top 1px solid #000
	.sub-title
		padding-bottom 40px
		font-size 14px
		color #999
		text-align center

	.list
		.item
			position relative
			margin 0 auto 30px
			max-width 390px
			overflow hidden
			border-radius 5px
			cursor pointer
			&:hover
				.text
					padding-top 50px
					top 0
					p
						white-space normal
			.pic
				img
					display block
					width 100%
			.text
				position absolute
				left 0
				right 0
				top 70%
				height 100%
				color #fff
				box-sizing border-box
				padding 15px
				background rgba(0,0,0,0.6)
				transition top 0.3s,padding 0.3s 0.3s
				@media(max-width 1199px)
					top 65%
				h5
					font-size 18px
					font-weight bold
				p
					font-size 14px
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
				a
					position absolute
					bottom 15px
					right 15px
					transition 0.3s
					&:hover
						color #1660e8
	.btn-wrap
		padding-bottom 40px
	&.solve-way
		background url(../img/hico11.jpg) center top no-repeat
		.title
			padding-top 62px
			padding-bottom 14px
			color #fff
			span
				&:after
				&:before
					border-color #fff
		.sub-title
			padding-bottom 60px
			color #fff
		.list-2
			.item
				margin-bottom 30px
			.pic
				img
					display block
					width 100%
			.text
				padding 20px
				background #f7f7f7
				h5
					font-size 22px
					color #222
					line-height 1
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
				.en
				p
					font-size 14px
					color #acacac
					line-height 1.5
				.en
					line-height 2.5
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
	&.case
		padding-bottom 30px
		background none
		border-bottom 1px solid #e5e5e5
		border-top 1px solid #e5e5e5
		.title
			color #000
		.sub-title
			color #000
		.list-3
			.row
				background linear-gradient(to bottom,transparent 10%, #d7d7d7 50%, transparent 90%) 33.33% center/2px 100% no-repeat,
				linear-gradient(to bottom, transparent 10%, #d7d7d7 50%, transparent 90%) 66.66% center/2px 100% no-repeat
				@media(max-width 991px)
					background none
			.item
				max-width 239px
				margin 0 auto 20px
				border 1px solid #e5e5e5
				transition 0.3s
				&:hover
					border-color transparent
					box-shadow 0 0 13px #aaa
				.pic
					padding 50px 0 20px
					img
						display block
						margin 0 auto
						height 112px
				.text
					h5
						font-size 20px
						color #000
						line-height 1.5
						text-align center
					p
						font-size 14px
						color #acacac
						line-height 1.5
						text-align center
						padding 25px 25px 40px
	&.news
		.list-3
			.swiper-container
				margin 20px 0
				height 300px
				// .swiper-slide
				// 	padding 10px 0
			.pic
				img
					display block
					width 100%
			.date
				width 40px
				line-height 40px
				font-size 20px
				text-align center
				&.active
					.day
						color #fff
						background #2778c9
					.month
						color #2778c9
						background #fff
				.day
					height 40px
					font-size 20px
					color #fff
					background #c1c1c1
				.month
					height 40px
					font-size 20px
					color #c1c1c1
					background #fff
			h3
				padding 5px 0
				font-size 18px
				color #2a2a2a
				line-height 1.5
				@media(max-width 400px)
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
			p
				font-size 12px
				color #a8a8a8
				line-height 1.5	
				@media(max-width 400px)
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
			.tips
				margin-top 10px
				font-size 12px
				color #fff
				background #f00
				padding 3px
				border-radius 5px
			.add
				margin-top 10px
				width 20px
				height 20px
				background linear-gradient(to right ,#fff 0%,#fff 100%) center center/50% 1px no-repeat,
				#c1c1c1 linear-gradient(to top ,#fff 0%,#fff 100%) center center/1px 50% no-repeat
					
.video-service
	border-bottom 1px solid #e5e5e5
	.video
		video
			display block
			width 100%
	.content
		padding-top 12%
		@media(max-width 1400px)
			padding-top 5%
		@media(max-width 1200px)
			padding-bottom 5%
		color #242424
		h3
			font-size 16px
			line-height 1
		h2
			padding 15px 0 30px
			font-size 34px
			line-height 1
			color #000
		p
			max-width 510px
			margin 0 auto
			font-size 14px
			color #8c8c8c
			line-height 24px
		.maxw200
			padding-top 10%
			max-width 200px
			margin 0 auto
			.number
				font-size 48px
				color #e60f23
				font-weight bold
.btn-wrap
	a
		display block
		margin 0 auto
		width 200px
		height 50px
		font-size 20px
		color #fff
		line-height 50px
		text-align center
		background #4276f9 url(../img/arrow-right.png) 90% center no-repeat


.footer
	.top
		background url(../img/hico21.jpg) center top /auto 100% no-repeat
		.brand-list
			padding 20px 0 0
			a
			img
				display block
			img
				width 106px
				margin 20px auto
		.menu
			position relative
			min-height 300px
			background linear-gradient(to right,transparent 0%,#52546c 10%,#52546c 90%,transparent 100%) center top/100% 2px no-repeat
			a
				display block
				margin-top 25px
				text-align center
				font-size 18px
				color #fff
				transition 0.3s
				&:hover
					color #1660e8
			.qr-code
				position absolute
				bottom 90px
				right 15px
				@media(max-width 991px)
					position static
					text-align center
				a
					display inline-block
				img
					margin 0 20px
	.bottom
		background #21212b
		font-size 16px
		color #fff
		line-height 46px
		.fl
		.fr
			@media(max-width 991px)
				width 100%
		span
			padding 0 10px
			@media(max-width 991px)
				display block
				text-align center
			a
				padding 0 10px
				transition 0.3s
				&:hover
					color #1660e8
		.icon
			background url(../img/hico4.jpg) 33.33% center no-repeat,
			url(../img/hico4.jpg) 66.66% center no-repeat
			@media(max-width 991px)
				background none
